[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
black = "*"
flake8 = "*"
httpx = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"

[packages]
accentdatabase = {git = "https://github.com/accentdesign/accentdatabase.git", ref = "master"}
accentnotifications = {extras = ["smtp"], version = "*"}
alembic = "*"
argon2-cffi = "*"
asyncpg = "*"
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
sentry-sdk = {extras = ["fastapi"], version = "*"}
typer = {extras = ["all"], version = "*"}
